addict==2.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
asttokens==3.0.0
attrs==25.3.0
audioop-lts==0.2.1
av==13.1.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloup==3.0.7
colour==0.1.5
contourpy==1.3.1
cycler==0.12.1
Cython==3.0.12
data==0.4
decorator==5.2.1
diskcache==5.6.3
executing==2.2.0
fastapi==0.115.12
ffmpeg-python==0.2.0
fonttools==4.57.0
frozenlist==1.5.0
funcsigs==1.0.2
future==1.0.0
glcontext==3.0.0
grpclib==0.4.7
h2==4.2.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
ipython==9.0.2
ipython_pygments_lexers==1.1.1
isosurfaces==0.1.2
jedi==0.19.2
kiwisolver==1.4.8
latex==0.7.0
manim==0.19.0
-e git+https://github.com/3b1b/manim.git@f4737828f65999252c0cab9824d9d34cfabf4341#egg=manimgl
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==3.0.0
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
modal==0.73.145
modal-client==1.0.0
moderngl==5.12.0
moderngl-window==3.1.1
moviepy==2.1.2
mpmath==1.3.0
multidict==6.3.2
networkx==3.4.2
numpy==2.2.4
packaging==24.2
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
proglog==0.1.11
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==5.29.4
ptyprocess==0.7.0
pure_eval==0.2.3
pycairo==1.27.0
pydantic==2.11.2
pydantic_core==2.33.1
pydub==0.25.1
pyglet==2.1.3
pyglm==2.8.1
Pygments==2.19.1
pyobjc-core==11.0
pyobjc-framework-Cocoa==11.0
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.2.3
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
PyYAML==6.0.2
requests==2.32.3
rich==14.0.0
scipy==1.15.2
screeninfo==0.8.1
setuptools==78.1.0
shellingham==1.5.4
shutilwhich==1.1.0
sigtools==4.0.1
six==1.17.0
skia-pathops==0.8.0.post2
sniffio==1.3.1
soupsieve==2.6
srt==3.5.3
stack-data==0.6.3
starlette==0.46.1
svgelements==1.9.6
sympy==1.13.3
synchronicity==0.9.11
tempdir==0.7.1
toml==0.10.2
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.2
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspection==0.4.0
typing_extensions==4.13.1
urllib3==2.3.0
validators==0.34.0
watchdog==6.0.0
watchfiles==1.0.4
wcwidth==0.2.13
yarl==1.18.3
